.main{
    background-color: #8d6c24;
    width: 80%;
}

.admin-sidebar{
    font-family: Poppins;
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 14vw;
    height: 98.8vh;
    padding: 10px 20px;
    align-items: center;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin: 4px;
    background-color: #000000;
    opacity: 80%;
    z-index: 102;
}
.sidebar-brand h1{
    font-weight: bold;
    font-size: larger ;
    color: white;
    margin-left: 30px;
}
.sidebar-list-item.active{
    background-color: rgba(155, 143, 125, 0.59);
    margin-left: -2px;
    margin-bottom: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;*/
}
.sidebar-list-item.active span,.sidebar-list-item.active a{
    color: rgb(255, 255, 255);
}

.sidebar-brand{
    letter-spacing: 2px;
    /*background-color: black;*/
    display: flex;
    margin-left: -3rem;
    margin-top: 0.3rem;
}

.sidebar-brand span{
    display: inline-block;
    padding-right: 0.5rem;
}

.sidebar-options{
    margin-top: 5vh;
    width: 100%;
}
.sidebar-options ul{
    list-style: none;
    align-items: center;
    justify-content: center;
}

.sidebar-list {
    padding: 0;
    list-style-type: none;
}

.sidebar-list-item:active{
    background-color: #312e2e;
}

.sidebar-list-item {
    display: flex;
    align-items: center;
    height: 8vh;
    margin-left: -15px;
    padding: 18px 20px 12px 20px;
    font-size: 18px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 9px;
    transition: all ease 0.2s;
}
.sidebar-list-item span{
    margin-right: 5px;
}
.sidebar-list-item a,span{
    font-size: 15px;
    color: #b4adad;
}

.sidebar-list-item:hover {
    background-color: #af8b6d;
    color: #dad6d6;
    margin-left: -2px;
    margin-bottom: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.sidebar-list-item:hover a,.sidebar-list-item:hover span  {
    color: #ffffff;
}

.sidebar-btn{
    position: absolute;
    bottom: 4%;
}
.sidebar-btn span{
    color: white;
    transition: 0.3s all ease;
}
.sidebar-btn button{
    color: white;
    font-size: 1.3rem;
    width: 15.5vw;
    height: 7.2vh;
    border-radius: 7px;
    border-color: transparent;
    background-color: #b3b4b6;
    box-shadow: thistle;
    cursor: pointer;
}
.sidebar-btn button:hover span{
    background-color:thistle;
    color: #d0cbcb;
    box-shadow: 5px 10px 15px -1px rgb(119, 85, 85);
}
.sidebar-btn button:hover span{
    box-shadow: none;
    background-color: transparent;
    color: #000000;
}