

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: white;
    /*position: sticky;*/
    top: 0;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.title{
    /*font-40 font-bold  'Roboto', sans-serif  text-center text-white text-4xl*/
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    align-items: center;
    color: #000000;
    font-weight: bold;

}

.cart{
    font-size: 50px;
    margin-right: 25px;
    margin-bottom: 10px;
    color: #000000;
    transition: transform 0.3s ease;
}
.cart:hover{
    color: black;
    transform: scale(1.1);
}

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
    }

nav ul li {
    list-style: none;
}

nav .menu{
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.2rem;
    height: 1.3rem;
    align-items: center;
}

nav .menu span{
    height: 0.22rem;
    width: 100%;
    background-color: #000000;
    border-radius: 0.2rem;
}

@media (max-width: 600px) {
    nav .menu{
        margin-top: 10px;
        color: black;
        display: flex;
        justify-content: space-between;
    }
    nav{
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    nav ul.open {
        display: flex;
    }
    nav ul .cart{
        margin-right: 0;
    }

    nav ul li button{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    nav ul li a {
        margin: 0;
    }
    nav .box{
        display: flex;
        justify-content: center;
        width: 80%;
    }

    nav .title{
        align-items: start;
        font-size: 25px;
        font-weight: lighter;
    }
    .box{
        display: none;

    }
    .box > i{

    }
}

@media (max-width: 820px) {
    .box{
        display: flex;
        align-items: center;
        margin: 0;
    }
    nav .menu{
        margin-top: 15px;
        color: black;
        display: flex;
        justify-content: space-between;
    }
    nav{
        flex-direction: column;
        align-items: start;
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    nav ul.open {
        display: flex;
    }
    nav ul .cart{
        margin-right: 0;
    }

    nav ul li button{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    nav ul li a {
        margin: 0;
    }
    nav .box{
        display: flex;
        justify-content: center;
        width: 80%;
    }

    nav .title{
        align-items: start;
        font-size: 23px;
        font-weight: bold;
    }

}

.logo {
    display: flex;
    align-items: center;
}

.box{
    width: 500px;
    height: 4px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border:  0.8px solid #b2b2b2;
}

.box > i {
    margin-top: 4px;
    font-size: 20px;
    color: #777;

}

.box > input{
    flex: 1;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 500px;
    border: none;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
    color: black;
}

.login-button{
    border: 1px solid black;
    background-color: white;
    color: rgb(108,117,125);
    font-weight: bold;
    height: 30px;
    width: 6vw;
    min-width: 120px;
    border-radius: 3px;
    cursor : pointer;
    margin-right: 6px;
    transition: transform 0.3s ease;
}
.login-button:hover{
    color: white;
    transform: scale(1.1);
    background-color: black;
}
.body{
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    margin-left: 2rem
}
.category-list {
    width: 25%;
}
/*.product-list{*/
/*    width: 80%;*/
/*    display: grid;*/
/*    place-items: center;*/
/*    grid-template-columns: 1fr;*/
/*    row-gap: 2rem;*/
/*    padding-block:1rem;*/
/*}*/
.card-zoom:hover {
    transform: scale(1.05);
    background-color: lightgrey ;
}


.custom-button {
    background-color: #c40d0d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
    background-color: #000000;
}

/* ProductCard.css */

.collection-heading {
    margin-top: 0;
    font-size: 45px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 2px;
}

.collection-body {
    display: flex;
    /*background-color: #e5f2fa;*/
}

.category-list {
    background-color: #e5e4e4;
    width: 320px;
    /*max-height: 750px;*/
    height: auto;
    overflow: auto;
    border-radius: 4px;
    border-bottom: none;
    margin-left: -2.5%;
    margin-right: 50px;
}

.category-sheet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /*background-color: black;*/
    color: #000000;
    margin-left: 0;
    margin-right: 50px;

}

.category-heading {
    margin-top: 0;
    margin-bottom: 5px;
    /*padding-left: 0;*/
    letter-spacing: 1.5px;
    padding-bottom: 4px;
    border-bottom: 1px solid #e5e0e0;
    width: 1500px;

}
.category-item{
    display: flex;
    justify-content: start;
    align-items: normal;
}
.text-left {
    font-size: 18px;
    margin-left: initial ;
    padding: 0;
    margin: 0;
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
    padding-top: 40px;
    width: 75%;
    margin-top: -40px;
}
.product-card:hover{
    transform: scale(1.05);
    background-color: lightgrey ;
}
.product-card {
    width: calc(25% - 30px);
    max-width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    border-radius: 10px;

}

.image-container {
    min-width: 200px;
    height: 180px;

}

.product-image {
    margin-top: -10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-details {
    padding: 16px;
}

.product-name {
    margin-top: 0;
}

.product-price {
    margin-top: 8px;
    font-weight: bold;
}

.product-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 16px;
}

.add-to-cart-button {
    height: 40px;
    width: 160px;
    background-color: #d51717;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: #000000;
    color: white;
}

.heart-icon {
    font-size: 24px;
}
@media (max-width: 820px) {
    .category-list {
        width: 100%;
        max-width: 200px;
    }
    .product-card {
        width: calc(33.33% + 40px);
    }
    .product-price{
        margin-top: 0;
        font-size: 8px;
    }
    .product-name{
        margin-top: 0;
        font-size: 8px;
    }
    .product-details{
        margin-top: 0;
        font-size: 8px;
    }
    .product-actions{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0;
    }
    .add-to-cart-button{
        height: 35px;
        text-align: center;
        margin-top: 0;
        font-size: 16px;
    }
    .heart-icon span{
        font-size: small;
        margin-left: 10px;
    }
}
@media (max-width: 600px) {
    .category-list {
        display: none;
    }

    .product-card {
        width: 200px;
        /*width: calc(50% - 20px);*/
        height: 17rem;
        padding: 0;
    }
    .product-image{
        object-fit: cover;
    }
    .product-price{
        font-size: 8px;
        margin-bottom: -15px;
    }
    .product-name{
        margin-top: 0;
        font-size: 8px;
    }
    .product-details{
        font-size: 8px;
    }
    .add-to-cart-button{
        font-size: 6px;
        height: 8px;
    }
    .heart-icon span{
        margin-bottom: 20px;
        margin-left: 6px;
    }
}





/* CSS/LoginSignup.css */

.forgot-password-container {
    background-color: #0057b33e; /* Set your preferred background color */
    padding: 20px;
    height: 60vw;
}

.forgot-password-container Form {
    margin-top: 20px;
}

.forgot-password-container Form.Group {
    margin-bottom: 20px;
}

.forgot-password-container p {
    margin-top: 20px;
}

.forgot-password-container a {
    color: #007bff; /* Set your preferred link color */
}
